
/* ----------------------------- color variables ---------------------------- */

$primary: rgb(170, 79, 255);
$seconday : rgb(237, 105, 255);
$highlights: rgb(153, 226, 208);

/* --------------------------- end color variables -------------------------- */


/* ------------------------ texts and subtexts specs ------------------------ */

.subtexts{
    font-weight:300;
    
    &--header{
        text-align:center;
    }
}

.body__layout {
    margin: 0 auto;
    font-family: roboto;
}

.header__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
        .header__subtitle {
            text-align: center;
        }
}

.header__logo{
    height:30px;
    margin-top:15px;
}

.buttons__validate {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    font-weight: bold;
    background: linear-gradient(0deg, $primary 0%, $seconday 100%);
    height: 25px;
    width:fit-content;
    padding: 10px 25px;
        
        a {
            text-decoration: none;
            color: white;
            font-weight:500;
        }

        &:hover{
            opacity: 75%;
        }
    }