/* ---------------------------- color variables ---------------------------- */
/* --------------------------- end color variables -------------------------- */
.backgrounds {
  margin-top: 0;
  background: whitesmoke;
}

.backgrounds--subtitle {
  background: #d8d8d8;
  padding: 5px 0;
}

/* ------------------------ texts and subtexts specs ------------------------ */
body {
  font-family: roboto;
}

.body__layout {
  margin: 0 auto;
}

.maintexts {
  font-size: 25px;
  font-weight: 500;
  width: 100%;
}

.maintextsubs {
  text-align: center;
}

.maintextsubs__heading {
  padding: 0 20px;
}

.maintextsubs__restaurants {
  margin: 15px 0 0 10px;
}

.subtexts {
  font-weight: 300;
  margin: 15px 0 0 10px;
  padding-bottom: 15px;
}

.subtexts__heading {
  text-align: center;
  width: 100%;
}

.subtextsubs {
  font-weight: 100;
}

.links {
  color: white;
  text-decoration: none;
  font-weight: 400;
  text-align: center;
}

/* ------------------------------- page header ------------------------------ */
.o-heading__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.o-heading__container .heading__subtitle {
  text-align: center;
}

.o-container__logo {
  position: relative;
  -webkit-box-shadow: 0px 10px 10px -12px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 10px 10px -12px rgba(0, 0, 0, 0.5);
  width: 100%;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.o-logo {
  height: 30px;
  margin-top: 15px;
  padding-bottom: 20px;
  -webkit-box-shadow: black 2px;
          box-shadow: black 2px;
}

.maintextsubs__heading {
  width: 100%;
  padding: 0 10px;
  padding-bottom: 50px;
}

.buttons__pillshaped {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 25px;
  font-weight: bold;
  background: -webkit-gradient(linear, left bottom, left top, from(#aa4fff), to(#ed69ff));
  background: linear-gradient(0deg, #aa4fff 0%, #ed69ff 100%);
  height: 25px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 25px;
}

.buttons__pillshaped:hover {
  opacity: 75%;
}

/* ------------------------------- end header ------------------------------- */
/* ------------------------------- menu steps ------------------------------- */
.o-steps__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
  margin-left: 20px;
}

.m-steps__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}

.m-steps__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 95%;
  border-radius: 20px;
  margin-bottom: 20px;
  padding: 8px 0px;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: bisque;
  -webkit-box-shadow: 0px 10px 10px -10px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 10px 10px -10px rgba(0, 0, 0, 0.3);
}

.a-steps__buttonsnumbubbles {
  width: 14px;
  border-radius: 25px;
  background-color: aquamarine;
  margin-left: -13px;
  padding: 5px;
}

.a-steps__buttonsicons {
  margin: 0 20px;
}

.fa {
  width: 16px;
  text-align: center;
}

/* ----------------------------- end menu steps ----------------------------- */
/* ------------------------------ results cards ----------------------------- */
.o-results__container {
  width: 100%;
  background-color: whitesmoke;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.m-results__cards {
  border-top-left-radius: 13.5px;
  border-top-right-radius: 13.5px;
  width: 90%;
  background-color: #fff;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 25px;
}

.a-cards__image--restaurant-1 {
  background-image: url(/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
  background-size: cover;
  width: 100%;
  height: 180px;
  background-position: center center;
}

.a-cards__image--restaurant-2 {
  background-image: url(/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
  background-size: cover;
  width: 100%;
  height: 180px;
  background-position: center center;
}

.a-cards__image--restaurant-3 {
  background-image: url(/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
  background-size: cover;
  width: 100%;
  height: 180px;
  background-position: center center;
}
/*# sourceMappingURL=styles.css.map */