.input {
  display: none;
}
.label {
  cursor: pointer;
  z-index: 99;
}

.checkbox-menu-item {
  display: none;
}

.checkbox-menu-item:checked + label .card-checked {
  width: 30px;
}

.card-checked {
  width: 0;
  overflow: hidden;
}

.fa-check-circle {
  position: relative;
  margin-top: -30px;
  padding-left: 90%;
  margin-bottom: 0;
}

.btn {
  margin: 40px 0 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  font-weight: bold;
  background: linear-gradient(0deg, $primary 0%, $secondary 100%);
  height: 25px;
  width: 150px;
  padding: 10px 25px;

  &:hover {
    opacity: 75%;
    background: $secondary;
  }
}
