/* ---------------------------- colors variables/mixin/components/reusables  ---------------------------- */

$primary: rgb(170, 79, 255);
$secondary: rgb(237, 105, 255);
$highlights: rgb(153, 226, 208);
$backgrounds: whitesmoke;

@mixin shadows {
  -webkit-box-shadow: 0px 10px 13px -7px darkgrey,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px darkgrey, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  position: relative;
}
.auto__margin {
  margin: auto;
}
.padding-bottom40 {
  padding-bottom: 40px;
}
.shadows {
  @include shadows;
}

.lightgrey {
  background-color: $backgrounds;
}

.shrikhand {
  font-family: Shrikhand;
}
.fa {
  width: 16px;
  &-map-marker-alt {
    padding-right: 10px;
  }
  &s {
    padding-right: 10px;
  }
}

a {
  text-decoration: none;
  color: white;
  font-weight: 400;
}

input[type="checkbox"] {
  display: none;
  margin-right: -17px;
}

/* --------------------------- end colors variables/mixin/components/reusables -------------------------- */

/* -------------------------------------------------------------------------- */
/*                                    layout                                  */
/* -------------------------------------------------------------------------- */

body {
  font-family: roboto;
  margin: 0;
  min-width: 400px;
}

/* ---------------------------- header and title mainpage --------------------------- */

.page__title {
  text-align: center;
  font-family: roboto;
  font-weight: 200;
  background: white;
}

.logo--big {
  padding: 20px 0 10px 0;
}

.txt-localization {
  padding: 20px 0 20px 0;
  background-color: lightgrey;
  margin: 0;
  margin-bottom: 40px;
  font-weight: 500;
}

/* -------------------------- end header and title mainpage -------------------------- */

/* ------------------------------- block steps ------------------------------ */

.steps__box {
  padding: 10px 0px;
}

.steps {
  margin: auto;
  padding: 20px 100px 40px 100px;
}

.step {
  display: flex;
  width: 100%;
  background-color: $backgrounds;
  border-radius: 20px;
  margin-bottom: 20px;
  padding: 10px;
  align-items: center;

  &-num {
    text-align: center;
    width: 18px;
    border-radius: 25px;
    background-color: $primary;
    margin-left: -13px;
    padding: 5px;
    color: white;
    font-weight: 400;
  }

  &-icon {
    margin: 0 20px;
  }
}

.btn {
  margin: auto;
  margin-top: 40px;
  background: linear-gradient(0deg, $primary 0%, $secondary 100%);
  width: fit-content;
  padding: 15px 25px;
  border-radius: 25px;
  &:hover {
    opacity: 75%;
    background: $secondary;
  }
}

/* ----------------------------- end block steps ---------------------------- */

/* ---------------------------- block restaurants --------------------------- */

.restaurants__highlights {
  padding: 20px 100px;
}

.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  align-items: flex-start;
  margin: auto;
  margin-bottom: 45px;
  background-color: white;
  background-position: center center;
  border-radius: 13.5px;

  &__image {
    background-size: cover;
    height: 180px;
    width: 100%;
    background-position: center center;
    border-top-left-radius: 13.5px;
    border-top-right-radius: 13.5px;
  }

  &__txt {
    margin: 0 0 0 25px;
    padding-top: 20px;
  }

  &__subtxt {
    margin: 0 0 0 25px;
    padding-top: 15px;
    font-weight: 300;
  }
  .heart {
    margin: -34px 40px 30px auto;
  }
  .fa-heart {
    color: lightgrey;
    font-size: larger;
    appearance: none;
    cursor: pointer;
  }
}

/* -------------------------- end block restaurants ------------------------- */

/* -------------------------------------------------------------------------- */
/*                          styling restaurants pages                         */
/* -------------------------------------------------------------------------- */

/* ------------------------------- animations ------------------------------- */

.fade-in {
  animation-name: menu-fade;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  opacity: 0;
}

.fade--delay1 {
  animation-delay: 0.1s;
}
.fade--delay2 {
  animation-delay: 0.2s;
}
.fade--delay3 {
  animation-delay: 0.3s;
}

@keyframes menu-fade {
  0% {
    opacity: 0;
    transform: translate(0, 200px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

/* ----------------------------- end animations ----------------------------- */

/* --------------------------- header restaurants --------------------------- */

.logo--small {
  margin: auto;
  padding: 10px 0;
}
.arrow {
  margin-top: 25px;
  margin-right: 20px;
  position: relative;
  bottom: 20px;
}

.header__picture {
  background-image: url(../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
  background-size: cover;
  height: 350px;
}

/* ------------------------- end header restaurants ------------------------- */

/* ------------------------------- body menus ------------------------------- */

.layout__box {
  border-top-right-radius: 35px;
  border-top-left-radius: 35px;
  margin-top: -80px;
  font-weight: 200;
}

.box__menu {
  padding: 25px 100px;
}

.box__course {
  background-color: white;
  border-radius: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  cursor: pointer;
  display: flex;

  &:hover {
    .validation__box {
      width: 75px;
    }
  }
}

.course {
  width: 100%;
  background: white;
  margin: 0;
  font-size: 15px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding: 0 10px;
}

.overflow_text {
  text-overflow: ellipsis;
  overflow: hidden;
}

.course__price {
  margin: auto 10px;
  font-weight: 600;
  position: relative;
  z-index: 2;
}

.validation__box {
  width: 0px;
  background: rgb(73, 241, 185);
  transition: width 1s;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.validation__icon {
  color: white;
}

/* --------------------------------- footer --------------------------------- */

.footer {
  padding: 25px 100px;
  background-color: rgb(46, 46, 46);
  color: white;
}

.footer__title {
  font-size: 25px;
}

/* ------------------------------- end footer ------------------------------- */
