/* ---------------------------- colors variables/mixin/components  ---------------------------- */

$primary: rgb(170, 79, 255);
$secondary: rgb(237, 105, 255);
$highlights: rgb(153, 226, 208);
$backgrounds: rgb(245, 245, 245);

.lightgrey {
  background-color: $backgrounds;
  padding-bottom:25px;
}

.darkgrey {
    background-color: rgb(221, 221, 221);
    padding: 25px;
}

/* -------------------------- texts and fonts ------------------------------------------------*/

.page {
  font-family: roboto;
}

.text{
  margin:0;
}
.text-align--left{
  margin-left:15%
}

.full-width{
  width:100%;
}

.shrikhand{
  font-family: Shrikhand;
  font-size: 40px;
  margin-left: 90px;
}

.text--thin{
  font-weight: 100;
}


.text--small{
  font-size: 11px;
}

.link{
  color: white;
  text-decoration: none;
  font-weight: 400;
  text-align: center;
}

.fas {
  padding-right: 10px;
}

/* --------------------------- end colors variables/mixin/components -------------------------- */

/* --------------------------------- layout --------------------------------- */

body{
  margin:0px;
}

.header{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom:35px;
  background-color:white;
}

.arrow{
  margin-top:25px;
  margin-right: 20px;
}

.brandlogo {
  display:flex;
  justify-content: center;
}

.logo{
  padding:10px 0 10px 0;
  width:90%;
  box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.10);
}

.header__picture{
  background-size: cover;
  height:270px;
}

.box__menu{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(224, 224, 224);
  border-top-right-radius: 35px;
  border-top-left-radius: 35px;
  margin-top:-80px;
}

.box__courses{
  display: flex;
  background-color: whitesmoke;
  border-radius: 20px;
  margin-bottom: 20px;
  padding: 10px;
  width:85%;
  align-items: center;
  box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.10);
}

.courses{
  width:100%;
  padding: 5px 5px 5px 5px;
}


.price{
  position: relative;
  margin-top:-30px;
  padding-left:90%;
  margin-bottom:0;

}

.btn{
 margin:40px 0 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  font-weight: bold;
  background: linear-gradient(0deg, $primary 0%, $secondary 100%);
  height: 25px;
  width:150px;
  padding: 10px 25px;

      &:hover{
          opacity: 75%;
          background:$secondary;
      }
}

  .footer_color{
    background-color: rgb(46, 46, 46);
    padding-bottom:25px;
  }

  .footer_color {
    margin:0;
    padding-top:10px;
    padding-left:25px;
    color:white;
  }

  .footer__title{
    font-family: Shrikhand;
    font-size: 25px;
  }
