/* ---------------------------- color variables ---------------------------- */
/* --------------------------- end color variables -------------------------- */
.backgrounds {
  margin-top: 0;
  background: whitesmoke;
  width: 100%;
}

.backgrounds--subtitle {
  background: #d8d8d8;
  padding: 5px 0;
}

/* ------------------------ texts and subtexts specs ------------------------ */
body {
  font-family: roboto;
  margin: 0;
}

.maintextsubs {
  text-align: center;
}

.maintextsubsubs__restaurants {
  margin: 15px 0 0 10px;
}

.subtexts {
  font-weight: 300;
  margin-left: 10px;
}

.subtexts-thin {
  font-weight: 100;
}

.links {
  color: white;
  text-decoration: none;
  font-weight: 400;
  text-align: center;
}

/* ------------------------------- page header ------------------------------ */
.o-heading__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.o-heading__container .heading__subtitle {
  text-align: center;
}

.o-container__logo {
  position: relative;
  -webkit-box-shadow: 0px 10px 10px -12px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 10px 10px -12px rgba(0, 0, 0, 0.5);
  width: 100%;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.o-logo {
  height: 30px;
  margin-top: 15px;
  padding-bottom: 20px;
  -webkit-box-shadow: black 2px;
          box-shadow: black 2px;
}

.maintextsubs__heading {
  width: 100%;
  padding: 0 10px;
  padding-bottom: 50px;
}

.buttons__pillshaped {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 25px;
  font-weight: bold;
  background: -webkit-gradient(linear, left bottom, left top, from(#aa4fff), to(#ed69ff));
  background: linear-gradient(0deg, #aa4fff 0%, #ed69ff 100%);
  height: 25px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 25px;
}

.buttons__pillshaped:hover {
  opacity: 75%;
}

/* ------------------------------- end header ------------------------------- */
/* ------------------------------- menu steps ------------------------------- */
.m-steps__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 95%;
  border-radius: 20px;
  margin-bottom: 20px;
  padding: 8px 0px;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: bisque;
  -webkit-box-shadow: 0px 10px 10px -10px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 10px 10px -10px rgba(0, 0, 0, 0.3);
}

.a-steps__buttonsnumbubbles {
  width: 14px;
  border-radius: 25px;
  background-color: aquamarine;
  margin-left: -13px;
  padding: 5px;
}

.a-steps__buttonsicons {
  margin: 0 20px;
}

.fa {
  width: 16px;
}

.fa-map-marker-alt {
  padding-right: 10px;
}

/* ----------------------------- end menu steps ----------------------------- */
/* ------------------------------ results cards ----------------------------- */
.o-containers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
  background-color: whitesmoke;
  padding: 20px 0;
}

.o-containers_footer {
  background-color: #444444;
  -webkit-text-decoration-color: white;
          text-decoration-color: white;
}

.o-containers_faq {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 10px;
}

.o-container__logo {
  background-color: white;
}

.a-cards__image--restaurant {
  background-size: cover;
  height: 180px;
  background-position: center center;
  border-top-left-radius: 13.5px;
  border-top-right-radius: 13.5px;
}

.m-results__cards {
  width: 90%;
  max-height: 250px;
  background-color: white;
  border-radius: 13.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.fa-heart {
  margin: -34px 40px 20px auto;
  color: lightslategrey;
  font-size: larger;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: 500ms;
  transition: 500ms;
}

.fa-heart:checked {
  margin: -34px 40px 20px auto;
  font-weight: 900;
  cursor: pointer;
  background: -webkit-gradient(linear, right top, left bottom, from(#aa4fff), to(#ed69ff));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

.fa-heart:active {
  font-weight: 900;
  background: -webkit-gradient(linear, right top, left bottom, from(#aa4fff), to(#ed69ff));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation-name: fadeOut;
  -webkit-animation-duration: 280ms;
  animation-name: fadeOut;
  animation-duration: 280ms;
  -webkit-transform: translate(0px, -30px) scale(1.05);
          transform: translate(0px, -30px) scale(1.05);
  -webkit-transition: -webkit-transform 350ms;
  transition: -webkit-transform 350ms;
  transition: transform 350ms;
  transition: transform 350ms, -webkit-transform 350ms;
  -webkit-transition-timing-function: cubic-bezier(0, 0, 1, 1);
          transition-timing-function: cubic-bezier(0, 0, 1, 1);
  opacity: 0%;
}

/* -------------------------------- keyframes fadeOut ------------------------------- */
@-webkit-keyframes fadeOut {
  0% {
    opacity: 0.7;
  }
  20% {
    opacity: 0.5;
  }
  40% {
    opacity: 0.3;
  }
  60% {
    opacity: 0.3;
  }
  80% {
    opacity: 0.1;
  }
  100% {
    opacity: 0;
  }
}

.text__center {
  text-align: center;
}

.text__left {
  margin-right: -90px;
  width: 100%;
}

.text__left--mrg15 {
  font-weight: 500;
  margin: 15px 0 0 10px;
}
/*# sourceMappingURL=styles.css.map */