
/* ---------------------------- colors variables/mixin/components  ---------------------------- */

$primary: rgb(170, 79, 255);
$secondary : rgb(237, 105, 255);
$highlights: rgb(153, 226, 208);
$backgrounds: rgb(245, 245, 245);


@import 'components/_containers.scss';

@import 'components/_cards';

@import 'components/_items_center';

@import 'components/_items_left';

@import 'components/_buttons.scss';


/* --------------------------- end colors variables/mixin/components -------------------------- */

/* ------------------------------- backgrounds ------------------------------ */


.backgrounds{
    margin-top:0;
    background: $backgrounds;
    width:100%;

    &--subtitle{
        background: #d8d8d8;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}

/* ----------------------------- end backgrounds ---------------------------- */

/* ------------------------ texts and subtexts specs ------------------------ */


.maintextsubs{
        text-align: center;

    &ubs__restaurants{
        margin: 15px 0 0 10px;
    }
}

.subtexts{
    font-weight:300;
    margin: 5px 0 10px 15px;

    &-thin{
        font-weight: 100;
        padding: 0 10px 0 10px;
    }
}

.links{
    color: white;
    text-decoration: none;
    font-weight: 400;
    text-align: center;
}

.end-page-menu{
    font-weight:500;
    &__text{
        font-weight: 200;;
    }

    &__title{
        font-family: shrikhand;
        font-size: 18px;
        margin-top:0px;
        padding-bottom: 10px;;
    }
}

/* ---------------------- end texts and subtexts specs ---------------------- */

/* --------------------------------- layout --------------------------------- */

body{
    font-family: roboto;
    margin:0;
}

.logo{
    height:30px;
    margin-top:15px;
    padding-bottom:20px;
}

.fa{
    width:16px;
    &-map-marker-alt{
    padding-right: 10px;
    }
    &s{
        padding-right: 10px;
    }
}
