/* ---------------------------- colors variables/mixin/components  ---------------------------- */

$primary: rgb(170, 79, 255);
$secondary: rgb(237, 105, 255);
$highlights: rgb(153, 226, 208);
$backgrounds: rgb(245, 245, 245);

@import "components/_mixins";

@import "components/_texts";

@import "components/_cards";

@import "components/_items_center";

@import "components/_buttons";


/* --------------------------- end colors variables/mixin/components -------------------------- */

/* --------------------------------- layout --------------------------------- */

body {
  font-family: roboto;
  margin: 0;
}



.left{
  margin-right: auto;
  padding-left: 60px;
  }
  
.box{
  display:flex;
  align-items: center;
  justify-content: center;
  width:100%;
  height:0px;

  &--vertical{
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-bottom: 45px;;
  }

}
.header {
    padding-bottom:35px;

    &__localization {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: darkgrey;
    }
}

.brandlogo {
  justify-content: center;
  position: relative;
  display: flex;
  padding-bottom: 20px;
  padding-top:20px;
  box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.10);
}

.steps__box{
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content:flex-start;
    padding: 8px 0px;
    box-sizing: border-box;
}

.steps{
  width:85%;
}

.step{
  display: flex;
  background-color: whitesmoke;
  border-radius: 20px;
  margin-bottom: 20px;
  padding: 10px;
  align-items: center;
  box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.10);

  &-num {
    text-align: center;
    width: 18px;
    border-radius: 25px;
    background-color: $primary;
    margin-left: -13px;
    padding: 5px;
    color: white;
    font-weight: 400;
  }

  &-icon {
    margin: 0 20px;
  }
}

.cards{
  padding: 25px;
}

.lightgrey {
  background-color: $backgrounds;
  padding-bottom:25px;
}

.darkgrey {
    background-color: rgb(221, 221, 221);
    padding: 25px;
  }

  .footer_color{
    background-color: rgb(46, 46, 46);
    padding-bottom:25px;
  }

  .footer_color {
    margin:0;
    padding-top:10px;
    padding-left:25px;
    color:white;
  }

  .footer__title{
    font-family: Shrikhand;
    font-size: 25px;
  }
