
.btn{
    margin: auto;
    margin-top:40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    font-weight: bold;
    background: linear-gradient(0deg, $primary 0%, $secondary 100%);
    height: 25px;
    width:fit-content;
    padding: 10px 25px;

        &:hover{
            opacity: 75%;
            background:$secondary;
        }
    }

    .btn__menu{
        display:flex;
        align-items: center;
        flex-direction: column;
        justify-content:flex-start;
        width:100%;
        padding: 8px 0px;
        box-sizing: border-box;
        background-color: white;
        flex-direction: column;
        align-items: flex-start;

        .price{
            margin-left:90%;
        }
    }