@keyframes fadeOut { 
    0% { opacity: 0.7; }
    20% { opacity: 0.5; }
    40% { opacity: 0.3; }
    60% { opacity: 0.3; }
    80% { opacity: 0.1; }
    100% { opacity: 0; }
}

.body__cards{
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content:flex-start;
    width:100%;
    padding: 8px 0px;
    box-sizing: border-box;
    align-items: center;
}


.card{
    @include body_cards();
    

        &__image{
        background-size: cover;
        height:180px;
        background-position: center center;
        border-top-left-radius: 13.5px;
        border-top-right-radius: 13.5px;
        }

        &__txt{
            margin:0 0 0 25px;
            padding-top: 20px;
            
        }

        &__subtxt {
            margin: 0 0 0 25px;
            padding-top: 15px;
            font-weight: 300;
        }
}


input[type='checkbox']{
    display: none;
    margin-right:-17px;
}


.heart {
    margin: -34px 40px 30px auto;
}


.fa-heart{

        color: lightslategrey;
        font-size: larger;
        appearance: none;
        cursor: pointer;
    }


