@mixin body_cards{
    width:90%;
    max-height: 250px;
    background-color:white;
    border-radius: 13.5px;
    display: flex;
    flex-direction: column;
    margin-bottom:25px;
    box-sizing: border-box;
}

.a-cards__image--restaurant{
    background-size: cover;
    height:180px;
    background-position: center center;
    border-top-left-radius: 13.5px;
    border-top-right-radius: 13.5px;
}



.m-results__cards{
    @include body_cards();

}

