.m-results__cards{

    width:90%;
    background-color: rgb(247, 0, 0);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin-bottom:25px;


}

.a-cards__images{
    width:100%;
    background-position: center center;
    border-top-left-radius: 13.5px;
    border-top-right-radius: 13.5px;
}