@mixin body_cards{
    border-top-left-radius: 13.5px;
    border-top-right-radius: 13.5px;
    width:90%;
    background-color:#fff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin-bottom:25px;
}

@mixin cards_wpicture{
    background-size: cover;
    width:100%;
    height:180px;
    background-position: center center;
}



.m-results__cards{
    @include body_cards();

}

.a-cards__image--restaurant-1{
    background-image: url(/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
    @include cards_wpicture();
}

.a-cards__image--restaurant-2{
    background-image: url(/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
    @include cards_wpicture();
}

.a-cards__image--restaurant-3{
    background-image: url(/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
    @include cards_wpicture();
}

