@mixin containers{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width:100%;
    background-color: $backgrounds;
}


    .o-containers{
        @include containers();

        &__footer{
            background-color: rgb(68, 68, 68);
            color: white;
            padding:20px;
        }

        &__faq{
            align-items: center;
            display: flex;
            align-content: center;
            flex-direction: column;
            padding-left:10px;
        }

        &__heading{
            padding-bottom: 20px;
            width:100%;
            background-color: $backgrounds;

            &-restaurants{
                background-color: white;
            }
        }

        &__cards{
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: $backgrounds;
        }

        &__logo{
            background-color: white;
            position: relative;
            box-shadow: 0px 10px 10px -12px rgba(0,0,0,0.5);
            width:100%;
            display:flex;
            justify-content: center;
        }

        &--restaurants{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: -40px;
            border-top-left-radius: 50px;
            border-top-right-radius: 50px;
            background-color:$backgrounds;
        }
}


.header__image--bastille{
    background-size: cover;
    background-position: center center;
    height:250px;
}