.o-containers{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width:100%;
    background-color: $backgrounds;
    padding:20px 0;
    

        &_footer{
            background-color: rgb(68, 68, 68);
            text-decoration-color: white;
        }

        &_faq{
            align-items: center;
            display: flex;
            align-content: center;
            flex-direction: column;
            padding-left:10px;

    }

}  

.o-container__logo{
    background-color:white;
}