@mixin left_text {
    width:100%;
    font-weight:800;
    padding-left:15px;
    box-sizing: border-box;
    margin-bottom:20px;
}



.text__left{
@include left_text();

        &--mrg15{
            margin-left: 15px;
        }

        &--restaurant-names{
            @include left_text();
            font-family: shrikhand;
            font-size:35px;
        }

        &--courses{
            @include left_text();
            margin-left:50px;
            font-weight: 200;
            font-size: 20px;
        }
}

