mixin body__steps{
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content:flex-start;
    width:100%;
    padding: 8px 0px;
    box-sizing: border-box;
}

@mixin body_cards{
    max-height: 250px;
    background-color:white;
    border-radius: 13.5px;
    display: flex;
    flex-direction: column;
    margin-bottom:25px;
    box-sizing: border-box;
    box-shadow: 0px 10px 10px -10px rgba(0,0,0,0.3);
}
